---
name: Sync

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/sync.yml
      - sync.yml
      - sync/**
  workflow_dispatch:
    inputs:
      debug:
        description: Debug mode
        type: boolean
        required: false
        default: false

# Allow one concurrent
concurrency:
  group: ${{ format('{0}-{1}-{2}-{3}-{4}', github.workflow, github.event_name, github.ref, github.base_ref, github.head_ref) }}
  cancel-in-progress: true

env:
  DEBUG: ${{ inputs.debug || secrets.ACTIONS_RUNNER_DEBUG || vars.ACTIONS_RUNNER_DEBUG || secrets.ACTIONS_STEP_DEBUG || vars.ACTIONS_STEP_DEBUG || false }}

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        uses: raven-actions/debug@9dbdeb7eea607a7d73411895c65987e71d59a466 # v1.2.0
        with:
          vars-context: ${{ toJson(vars) }}
          needs-context: ${{ toJson(needs) }}
          inputs-context: ${{ toJson(inputs) }}

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Get App Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: get-token
        with:
          app-id: ${{ secrets.SYNC_BOT_APP_ID }}
          private-key: ${{ secrets.SYNC_BOT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            .workflows
            actionlint
            bot-details
            debug
            environment-variables
            get-repos
            publish-and-tag

      - name: Get bot details
        id: bot-details
        uses: raven-actions/bot-details@b2d5fd6eb98adc0cb67df864daa834849f3a8bc0 #v1.1.0
        with:
          bot-slug-name: ${{ steps.get-token.outputs.app-slug }}
          set-env: false

        # Use specific commit SHA because the PR is not merged yet (https://github.com/BetaHuhn/repo-file-sync-action/pull/303)
      - name: Run Repo File Sync
        uses: BetaHuhn/repo-file-sync-action@2da9fa866f117b06abec3e4c61c5e96ef86c142f
        with:
          GH_INSTALLATION_TOKEN: ${{ steps.get-token.outputs.token }}
          CONFIG_PATH: sync.yml
          COMMIT_PREFIX: "chore:"
          GIT_EMAIL: ${{ steps.bot-details.outputs.email }}
          GIT_USERNAME: ${{ steps.bot-details.outputs.name }}
