---
name: Sync

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/sync.yml
      - sync.yml
      - sync/**
  workflow_dispatch:
    inputs:
      debug:
        description: Debug mode
        type: boolean
        required: false
        default: false

permissions: {}

# Allow one concurrent
concurrency:
  group: ${{ format('{0}-{1}-{2}-{3}-{4}', github.workflow, github.event_name, github.ref, github.base_ref, github.head_ref) }}
  cancel-in-progress: true

env:
  DEBUG: ${{ inputs.debug || secrets.ACTIONS_RUNNER_DEBUG || vars.ACTIONS_RUNNER_DEBUG || secrets.ACTIONS_STEP_DEBUG || vars.ACTIONS_STEP_DEBUG || false }}

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    timeout-minutes: 15
    steps:
      - name: Debug
        uses: raven-actions/debug@9dbdeb7eea607a7d73411895c65987e71d59a466 # v1.2.0
        with:
          vars-context: ${{ toJson(vars) }}
          needs-context: ${{ toJson(needs) }}
          inputs-context: ${{ toJson(inputs) }}

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Get App Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: get-token
        with:
          app-id: ${{ secrets.SYNC_BOT_APP_ID }}
          private-key: ${{ secrets.SYNC_BOT_PRIVATE_KEY }}
          permission-metadata: read
          permission-contents: write
          permission-pull-requests: write
          permission-workflows: write
          owner: ${{ github.repository_owner }}

      - name: Get bot details
        id: bot-details
        uses: raven-actions/bot-details@ee8966a9ff6e7e42cbfc4a56b4ddb60a9d1b40a6 #v1.2.0
        with:
          bot-slug-name: ${{ steps.get-token.outputs.app-slug }}
          set-env: false

        # Use specific commit SHA because the PR is not merged yet (https://github.com/BetaHuhn/repo-file-sync-action/pull/303)
      - name: Run Repo File Sync
        uses: BetaHuhn/repo-file-sync-action@2da9fa866f117b06abec3e4c61c5e96ef86c142f
        with:
          GH_INSTALLATION_TOKEN: ${{ steps.get-token.outputs.token }}
          CONFIG_PATH: .github/sync.yml
          COMMIT_PREFIX: "chore:"
          GIT_EMAIL: ${{ steps.bot-details.outputs.email }}
          GIT_USERNAME: ${{ steps.bot-details.outputs.name }}
